.now-content a {
    font-weight: bold; /* Bold text */
    background-color: #f0f0f0; /* Background highlight */
    padding: 10px; /* Padding */
    border-radius: 5px; /* Border-radius */
    text-decoration: underline; /* Thicker underline */
    text-underline-offset: 3px; /* Better text underline offset */
}